#map {
    height: 600px;
    width: 540px;
}

.graph-comments {
    text-align: center;
    vertical-align: middle;
}

.graph-container {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100px;
    border-bottom: 1px solid lightgrey;
}

.graph path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.graph {
    position: absolute;
    height: 100px;
    width: 540px;
}

#download-progress {
    font-weight: bold
}
